.tourismRateShare {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tourismShare {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 500;
    font-family: var(--font-inter);
    cursor: pointer;
  }
  
  .tourismRateShare .reviews {
    padding-bottom: 0;
  }
  
  .tourismHead {
    padding: 47px 0 34px;
  }
  
  .tourismHead h1 {
    font-family: var(--font-fig);
    font-weight: 600;
    padding-bottom: 8px;
    font-size: 42px;
  }
  
  .tourismDesc {
    max-height: 567px;
    overflow: scroll;
    max-width: 900px;
    width: 100%;
    background-color: var(--white);
    border-radius: 24px;
    filter: drop-shadow(2px 4px 10px #0000000d);
  }
  
  .tourismDescAlign {
    padding: 30px;
  }
  
  .tourismMainDesc h4 {
    font-size: 22px;
    padding-bottom: 24px;
  }
  
  .tourismSubContent h5 {
    font-size: 20px;
    padding-bottom: 12px;
  }
  
  .tourismMainDesc p {
    padding-bottom: 24px;
  }
  
  .tourismSubContent p {
    padding-bottom: 18px;
  }
  
  .tourismMainDesc h4,
  .tourismSubContent h5 {
    font-family: var(--font-fig);
    font-weight: 600;
  }
  
  .tourismMainDesc p,
  .tourismSubContent p {
    font-family: var(--font-man);
    color: #6b7280;
    line-height: 22px;
  }
  
  .tourismDescContainer {
    display: flex;
    gap: 70px;
    justify-content: space-between;
  }
  
  .priceInfo {
    max-width: 370px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 10px 10px #1f29370a, 0px 20px 25px #1f29371a;
    background-color: #f1f4fb;
  }
  
  .priceInfoAlign {
    padding: 24px;
  }
  
  .priceInfoAlign h6 {
    font-family: var(--font-fig);
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    padding-bottom: 16px;
  }
  
  .checkInDetail {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 32px;
  }
  
  .gridCheck {
    padding: 8px 8px 19px;
  }
  
  .gridCheck label {
    font-family: var(--font-fig);
    font-weight: 600;
  }
  
  .gridCheck:first-child {
    border-right: 1px solid #d1d5db;
  }
  
  .gridCheck:last-child {
    border-top: 1px solid #d1d5db;
    grid-column: span 2;
    padding-bottom: 8px;
  }
  
  .gridCheck .inputCheck {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  
  .gridCheck .inputCheck,
  .gridCheck .selectCheck {
    color: #6b7280;
  }
  
  .checkInOut {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d5db;
  }
  
  .checkInDetail .ant-select-selector {
    border: none;
    background: transparent !important;
  }
  
  .verticalLineCheck {
    border-left: 1px solid #d1d5db;
  }
  
  .taxDetailInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  
  .taxDetailInfo:last-child {
    padding-bottom: 16px;
  }
  
  .taxDetails {
    border-bottom: 1px solid #e5e7eb;
  }
  
  .taxColor {
    color: #ffa033;
  }
  
  .priceTotal {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
  
  .priceBtns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  
  .priceBtn {
    background-color: var(--primary-color);
    padding: 14px 0;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    max-width: 155px;
    width: 100%;
  }
  
  .priceWhatsappIcon {
    width: 24px;
    color: var(--white);
  }
  
  .priceBtn Button {
    color: var(--white);
    background-color: transparent;
    border: none;
  }
  
  .priceLastText {
    color: #6b7280;
    font-size: 14px;
    text-align: center;
  }
  
  .whereYou {
    padding: 80px 0;
  }
  
  .whereYou h2 {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 24px;
  }
  
  .whereYou h3 {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 16px;
  }
  
  .whereYou p {
    font-size: 14px;
    font-family: var(--font-inter);
    color: #6b7280;
  }
  
  .whereYouMap {
    padding: 24px 0;
    max-width: 1340px;
  }
  
  .whereYouMap iframe {
    width: 100%;
  }
  
  .tourismImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-radius: 22.86px;
    overflow: hidden;
    margin-bottom: 79.57px;
  }
  
  .tourismFirstImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tourismFirstImg img,
  .tourismSecondImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tourismSecondImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .viewMoreOverlay {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlayBtn {
    background-color: #ffffff50;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 14px 24px;
    font-weight: 700;
    font-family: var(--font-man);
  }
  
  .modalImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .modalImages img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .relatedTourHead {
    display: inline-flex;
    padding-bottom: 40px;
  }
  
  .relatedTourHead .head,
  .relatedTourHead .subHead {
    font-family: var(--font-fig);
    font-weight: 600;
    font-size: 42px;
  }
  
  .relatedTourHead .head {
    color: #29569c;
  }
  
  .relatedTourHead .subHead {
    color: #3d77f6;
    text-indent: 10px;
  }
  
  .relatedTourReviews {
    display: flex;
    gap: 7px;
  }
  
  .relatedTourPack {
    padding-bottom: 81px;
    overflow: scroll;
  }
  
  /* ------ Tab View ------ */
  
  @media screen and (max-width: 1024px) {
    .tourismHead h1 {
      font-size: 32px;
    }
  
    .tourismDescContainer {
      gap: 30px;
    }
  
    .tourismImg {
      margin-bottom: 30px;
    }
  
    .whereYou {
      padding: 40px 0;
    }
  
    .relatedTourHead .head, .relatedTourHead .subHead {
      font-size: 32px;
    }
  
    .relatedTourHead {
      padding-bottom: 20px;
    }
  
    .relatedTourPack {
      padding-bottom: 40px;
    }
  }
  
  /* ------ Mobile View ------ */
  
  @media screen and (max-width: 768px) {
    .tourismHead h1 {
      font-size: 24px;
    }
  
    .tourismRateShare {
      flex-direction: column;
      gap: 8px;
      align-items: flex-end;
    }
  
    .tourismDescContainer {
      flex-direction: column;
    }
  
    .priceInfo {
      max-width: unset;
    }
  
    .tourismHead {
      padding: 20px 0;
    }
  
    .tourismImg {
      margin-bottom: 0;
      display: unset;
    }
  
    .tourismDescAlign {
      padding: 15px 15px 0;
    }
  
    .gridCheck:first-child {
      border-bottom: 1px solid #d1d5db;
      border-right: none;
    }
    
    .checkInDetail {
      display: block;
      margin-bottom: 20px;
    }
  
    .priceInfoAlign {
      padding: 15px;
    }
  
    .priceBtn {
      max-width: unset;
      padding: 14px;
      width: unset;
    }
  
    .tourismMainDesc h4, .tourismSubContent h5 {
      font-size: 18px;
      padding-bottom: 12px;
    }
  
    .priceInfoAlign h6 {
      font-size: 20px;
    }
  
    .whereYou {
      padding: 30px 0;
    }
  
    .relatedTourHead .head, .relatedTourHead .subHead {
      font-size: 24px;
    }
  
    .relatedTourHead {
      padding-bottom: 20px;
    }
  
    .tourismSecondImg {
      gap: 5px;
      margin-bottom: 20px;
    }
  
    .tourismFirstImg {
      display: none;
    }
  
    .overlayBtn {
      padding: 10px 12px;
    }
  
    .modalImages img {
      height: 300px;
    }
  }