@import "tailwindcss";
@theme {
  --font-manrope:"Manrope", sans-serif;
  --font-figtree:"Figtree", sans-serif;
  --color-primary: #29569C;
  --color-secondary: #3D77F6;
}


@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 1.5s infinite;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}


@media screen and (max-width:1440px) {
  #reusable{
    width: 1380px;
  }
  #search{
    width: 1300px;
  }
  #services{
    width: 1350px;
    gap: 35px;
    margin-left: 40px;
  }
  #aboutpage{
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
  }
  #aboutpage img{
    width: 550px;
  }
  #formsection{
    width: 1350px;
    gap: 20px;
  }
  #formbox{
    gap: 2px;
  }
  #formbox label{
    font-size: 20px;
    white-space: nowrap;
    align-items: center;
  }
  
  #popular h1{
    font-size: 38px;
  }
  #access{
    font-size: 20px;
  }
 
}